
.footer {
  position: relative;
  bottom: 0;
  height: 296px;
  width: 100%;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 74px;
}

.footer__address {
  flex: 0 1 33.333%;
  flex-direction: column;
}

.footer__address:first-child {
  display: flex;
  text-align: left;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%; /* 100% */
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

.footer__address div:last-child {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  letter-spacing: 0;
}

.footer__block {
  flex: 0 1 33.333%;
  max-width: 270px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__media a {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.footer__media .instagram {
  margin: 0 70px 0;
}

.footer__about-us {
  flex: 0 1 33.333%;
  flex-direction: row;
  text-align: right;
}

.footer__about-us div:first-child {

  color: #000;
  font-family: Bebas Neue;
  font-size: 24px;

  font-weight: 400;
  line-height: 24px; /* 100% */
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

.footer__about-us div:last-child {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.footer__logo {
  width: fit-content;
  height: 54px;
  margin: 74px auto;
  justify-content: center;
  text-align: center;
}

.footer__logo a {
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5.58px;
  text-transform: uppercase;
  cursor: pointer;
}

